In [1]:
import sqlite3
import pandas as pd
db = sqlite3.connect('C:\\Users\\ajord\\Video-Games\\videoGames.db')
def run_query(query):
    return pd.read_sql_query(query,db)

In [2]:
video_games = pd.read_excel(
    'Video Games.xlsx', 
    sheet_name='video_games',
    header=0)

genres = pd.read_excel(
    'Video Games.xlsx', 
    sheet_name='genres',
    header=0)

consoles = pd.read_excel(
    'Video Games.xlsx', 
    sheet_name='consoles',
    header=0)

developers = pd.read_excel(
    'Video Games.xlsx', 
    sheet_name='developers',
    header=0)

publishers = pd.read_excel(
    'Video Games.xlsx',
    sheet_name='publishers',
    header=0
)

In [4]:
publishers.head()

   PublisherID       Name               Headquarters              Founded
0            1       Sony  Minato City, Tokyo, Japan  1946-05-07 00:00:00
1            2       Sega    Shinigawa, Toyko, Japan  1960-06-03 00:00:00
2            3  Microsoft        Redmond, Washington  1975-04-04 00:00:00
3            4        SNK        Suita, Osaka, Japan  1978-07-22 00:00:00
4            5   Nintendo        Kyoto, Kyoto, Japan            9/23/1889