In [32]:
import sqlite3
import pandas as pd
db = sqlite3.connect('C:\\Users\\ajord\\Video-Games\\videoGames.db')
def run_query(query):
    return pd.read_sql_query(query,db)

In [33]:
video_games = pd.read_excel(
    'Video Games.xlsx', 
    sheet_name='video_games',
    header=0)

genres = pd.read_excel(
    'Video Games.xlsx', 
    sheet_name='genres',
    header=0)

consoles = pd.read_excel(
    'Video Games.xlsx', 
    sheet_name='consoles',
    header=0)

developers = pd.read_excel(
    'Video Games.xlsx', 
    sheet_name='developers',
    header=0)

publishers = pd.read_excel(
    'Video Games.xlsx',
    sheet_name='publishers',
    header=0
)

In [43]:
query = """ CREATE Table videogames(
                VideoGameID INTEGER NOT NULL,
                Title TEXT NOT NULL,
                ReleaseDate INTEGER,
                Genre TEXT,
                Developer TEXT,
                Platform TEXT,
                Exclusive BOOLEAN,
                Quantity INTEGER,
                Version TEXT,
                PRIMARY KEY(VideoGameID),
                FOREIGN KEY(Genre) REFERENCES genre(Name),
                FOREIGN KEY(Developer) REFERENCES developers(Name),
                FOREIGN KEY(Platform) REFERENCES consoles(Name)
); """

run_query(query)

DatabaseError: Execution failed on sql ' CREATE Table videogames(
                VideoGameID INTEGER NOT NULL,
                Title TEXT NOT NULL,
                ReleaseDate INTEGER,
                Genre TEXT,
                Developer TEXT,
                Platform TEXT,
                Exclusive BOOLEAN,
                Quantity INTEGER,
                Version TEXT,
                PRIMARY KEY(VideoGameID),
                FOREIGN KEY(Genre) REFERENCES genre(Name),
                FOREIGN KEY(Developer) REFERENCES developers(Name),
                FOREIGN KEY(Platform) REFERENCES consoles(Name)
); ': table videogames already exists

In [42]:
query = """ CREATE TABLE genres(
                GenreID INTEGER,
                Name TEXT,
                Description TEXT
                PRIMARY KEY(GenreID)
); """

run_query(query)

DatabaseError: Execution failed on sql ' CREATE TABLE genres(
                GenreID INTEGER,
                Name TEXT,
                Description TEXT
                PRIMARY KEY(GenreID)
); ': near "(": syntax error

In [40]:
query = """ CREATE TABLE consoles(
                ConsoleID INTEGER,
                Name TEXT,
                ReleaseDate INTEGER,
                Manufacturer TEXT,
                Color TEXT,
                PRIMARY KEY(ConsoleID),
                FOREIGN KEY(Manufacturer) REFERENCES publishers(Name)
); """

run_query(query)

TypeError: 'NoneType' object is not iterable

In [37]:
query = """ CREATE TABLE developers(
                DeveloperID INTEGER,
                Name TEXT,
                Headquarters TEXT,
                Founded INTEGER,
                PRIMARY KEY(DeveloperID)
); """

run_query(query)

TypeError: 'NoneType' object is not iterable

In [38]:
query = """ CREATE TABLE publishers(
                PublisherID INTEGER,
                Name TEXT,
                Headquarters TEXT,
                Founded INTEGER,
                PRIMARY KEY(PublisherID)
); """

run_query(query)

TypeError: 'NoneType' object is not iterable

In [44]:
video_games.to_sql('videogames', db, if_exists='replace', index=False)
genres.to_sql('genres', db, if_exists='replace', index=False)
consoles.to_sql('consoles', db, if_exists='replace', index=False)
developers.to_sql('developers', db, if_exists='replace', index=False)
publishers.to_sql('publishers', db, if_exists='replace', index=False)

In [45]:
query = """ SELECT * FROM  videogames LIMIT 10; """
run_query(query)

,VideoGameID,Title,ReleaseDate,Genre,Developer,Platform,Exclusive,Quantity,Version
0,1,Maneater,2020-05-22 00:00:00,Role-playing,Tripwire Interactive,PlayStation 4,0,1,None
1,2,Horizon Zero Dawn Complete Edition,2017-02-28 00:00:00,Role-playing,Guerilla Games,PlayStation 4,0,1,None
2,3,Destiny 2,2017-09-06 00:00:00,Shooter,Bungie Inc,PlayStation 4,0,1,None
3,4,The Division 2,2019-02-07 00:00:00,Shooter,Massive Entertainment,PlayStation 4,0,1,None
4,5,The Last of Us Part 2,2020-06-19 00:00:00,Action,Naughty Dog,PlayStation 4,1,1,None
5,6,Call of Duty: Modern Warfare,2019-10-25 00:00:00,Shooter,Infinity Ward,PlayStation 4,0,1,None
6,7,Call of Duty: Advanced Warfare,2014-11-04 00:00:00,Shooter,Sledgehammer Games,PlayStation 4,0,1,None
7,8,Battlefield 4,2013-10-29 00:00:00,Shooter,DICE,PlayStation 4,0,1,None
8,9,Naruto Shippuden: Ultimate Ninja Storm 4,2016-02-04 00:00:00,Fighting,CyberConnect2,PlayStation 4,0,1,None
9,10,Call of Duty: Black Ops 3,2015-11-06 00:00:00,Shooter,Treyarch,PlayStation 4,0,1,None